.Projects {
    &__container {
        width: calc(100vw - 6rem);
        height: calc(100vh - 6rem);
        background-color: #0D1B1C;
        padding: 3rem;
        display: grid;
        grid-column-gap: 10rem;
        grid-template-columns: 5fr 3fr;
    }

    &__title {
        color: #D81E5B;
        margin: 0;
        font-family: 'Zilla Slab Highlight';
        font-size: 6rem;
    }

    &__blurb {
        font-family: 'Fira Code';
        color: #6FB7BC;
        font-size: 1rem;
        margin: 3rem 2rem 0 0;
    }

    &__divider {
        margin: 1rem;
    }

    &__selectedTab {
        font-family: 'libreBarcode'
    }

    &__unselectedTab {
        font-family: 'Fira Code'
    }
}