.Projects {
    &__container {
        width: calc(100vw - 6rem);
        height: calc(100vh - 6rem);
        padding: 3rem;
        display: grid;
        grid-column-gap: 5rem;
        grid-template-columns: 5fr 3fr;
    }

    &__title {
        color: #100018;
        margin: 0;
        font-family: 'Serif Display';
        font-size: 6rem;
        font-weight: 400;
    }

    &__blurb {
        font-family: 'Lato Light';
        color: #100018;
        font-size: 1.2rem;
        margin: 3rem 2rem 0 0;
    }

    &__accordionSummary {
        font-family: 'Serif Display';
        font-size: 1.5rem;
        color: #100018
    }
    
    &__sourceCodeLink  {
        background-image: linear-gradient(to bottom right, #2E0099, #FFC2E8);
        padding: .2rem .2rem;
        border-radius: 1.5rem;
        color: white;
        display: flex;
        place-items: center;
    }

    &__demoImageCarousel {
        height: 65vh;
        width: auto;
    }

    &__demoModalBlurb {
        font-family: 'Lato Light';
        text-align: center;
    }

    &__expandedAccordionButtons {
        display: flex;
        justify-content: space-between;
    }

    &__sourceCodeLinkInner {
        padding: .4rem 1.8rem;
        background-color: white;
        border-radius: 1rem;
        color: #100018;
        font-family: 'Serif Display';
    }
}