.About {
    &__container {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-gap: 10rem;
        background-color: #0D1B1C;
        grid-template-columns: 2fr 1fr;
        overflow: hidden;
        max-width: 100%;
    }

    &__professional {
        padding: 3rem;
        max-width: inherit;
    }

    &__title {
        color: #E0CA3C;
        font-family: 'Zilla Slab Highlight';
        font-size: 7rem;
        font-weight: 400;
        margin: 0,
    }

    &__skills {
        max-width: inherit;
        padding: 2rem;
    }

    &__blurb {
        color: #6FB7BC;
        font-size: 1.2rem;
        // font-family: 'Fira Code'
    }

    &__skillsTitle {
        color: #D81e5b;
        font-family: 'libreBarcode';
        font-size: 4rem;
        text-align: right;
        width: 100%;
    }

    &__skillsGrid {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 2fr;
        justify-content: space-between;
    }

    &__skillName {
        color: #6FB7BC;
        font-family: 'Fira Code';
        font-size: 1.2rem;
        margin: 0;
    }

    &__skillLevel {
        display: flex;
        justify-self: right;
    }

    &__skillLevelItem {
        margin: .5rem;
        background-color: #E0CA3C;
        border-radius: .7rem;
        height: .7rem;
        width: .7rem;
        box-shadow: 0 0 .3rem .2rem #c2ac1e;
    }
}