@font-face {
  font-family: 'Serif Display';
  src: url('./fonts/DMSerifDisplay-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poiret One';
  src: url('./fonts/PoiretOne-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-display: swap;
}


@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/Lato-Light.ttf');
  font-display: swap;
}

a {
  text-decoration: none;
  color: #000;
}